.messenger {
  overflow-y: hidden;
  display: flex;
}

.chatMenu {
  flex: 3.5;
  background-color: #f5f5f5;
  min-height: calc(100vh - 50px);
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 37em;
  overflow-y: scroll;
  background-color: #a8a8a8;
  --scrollbarBG: #d8d8d8;
  --thumbBG: #90a4ae;
}
.chatBoxTop::-webkit-scrollbar {
  width: 11px;
}
.chatBoxTop {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.chatBoxTop::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.chatBoxTop::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #41426f;
}

.chatMessageInput {
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(245, 241, 241);
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 5px #d8d8d8;
  color: #41426f;
  margin-right: 50px;
}

.availableButton {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
  margin-right: 50px;
  margin-bottom: 10px;
}

.chatOnline {
  flex: 3;
  background-color: #f5f5f5;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 692px;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.rightbarTitle {
  margin-top: 30px;
  margin-bottom: 20px;
}

.active-chat {
  background-color: #41426f;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.chatBoxMsg {
  background-color: #d8d8d8;
}

@media screen and (max-width: 480px) {
  .chatMenu {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .chatOnlineWrapper {
    display: none !important;
  }
  .chatBox {
    height: 850px;
  }
}

@media screen and (max-width: 900px) {
  .chatOnline {
    visibility: hidden;
  }
}

.navbar-toggler-icon {
  cursor: pointer;
}
