.message {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.messageTop{
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 2px 9px 2px 9px;
    border-radius:0 8px 8px 8px;
    background-color: #41426F;
    color: white;
    max-width: 300px;
    min-width: 80px;

}

.messageBottom{
    font-size: 11px;
    display: flex;
    justify-content: end;
    color: #A8A8A8;
    /*margin-top: 10px;*/
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}

.message.own .messageBottom{
    color: #41426F;
}